

html, body {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: azure;
}


h1 {
  color: var(--color-main);
  font-family: var(--font-header);
  margin: 0;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.quote{
  text-align: center;
  font-family: cursive;
  padding-bottom: 10px;
}

.header{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button{
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.page{
  text-align: center;
  padding: 15px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.image{
  padding:15px;
}